{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "airbnb", "prettier"],
    "globals": {},
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "ecmaVersion": 2018,
            "classes": true
        }
    },
    "rules": {
        "prettier/prettier": ["error"],
        "import/no-extraneous-dependencies": 0,
        "global-require": 0,
        "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0 }],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/destructuring-assignment": 0,
        "react/jsx-props-no-spreading": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0

    }
}
